In [23]:
if True:
# 蓋你
    print("o")
    print("d")

o
d

In [30]:
import sys
print(sys.argv)

['/Users/heweiting/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py', '-f', '/Users/heweiting/Library/Jupyter/runtime/kernel-72eedd39-1fac-46c6-a7e2-f777a051edde.json']

In [35]:
a = 2
b = 4
print(a, end='')
print(b)

24

In [49]:
a = 23
b = '幹你娘'
print('number: %-10d,string: %s' %(a,b))

number: 23        ,string: 幹你娘

In [54]:
print('number:{}, string:{}'.format(a,b))

number:23, string:幹你娘

In [60]:
a:int = 10
a = "34"

In [62]:
type(a)

str

In [64]:
a = 1_2_3_4
print(a)

1234

In [76]:
a = 0.3
b = 0.1 

if a==b:
    print(True)
else:
    print("t")

t

In [4]:
a = 0.3
b= 0.1+0.1+0.1

print(a==b)

False

In [2]:
a = '\u9022'
print(a)

逢

In [89]:
a = hello

print(a)

NameError: name 'hello' is not defined

In [1]:
xx = 'hello'
#yy = 1234

v1 = None

print(type(yy))

print(isinstance(yy,int))

NameError: name 'yy' is not defined

In [13]:
a = 3 ** (1/2)
print(a)

1.7320508075688772

In [16]:
4 // 2

2

In [18]:
1/3

0.3333333333333333

In [28]:
print(5>>1)

2

In [33]:
manager = 4
engineer= 2
employee = 1

ra = 4

rb = 2

re = 1

userRole = engineer

print(userRole & ra)
print(userRole & rb)

0
2

In [39]:
a =- 5
v = 13 if a>0 else 66666

print(v)

66666

In [60]:
a  = -5
if a>0:
    a=4
else:
    a=0
    
    print(a)

0

In [33]:
for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [23]:
a = 10
while a <= 15:
    print(a)
    a =a +1

10
11
12
13
14
15

In [40]:
for a in range(1,11):
    print('b',a)
    
    a == 5
    continue

b 1
b 2
b 3
b 4
b 5
b 6
b 7
b 8
b 9
b 10

In [43]:
lst = [1,2,3,4,5]

print(lst[-1])

5

In [62]:
a = [2]

In [64]:
a

[2]

In [70]:
a =(1,)

In [72]:
print(type(a))

<class 'tuple'>

In [74]:
a = 8,
print(type(a),a)

<class 'tuple'> (8,)

In [77]:
a,b,c=4,5,6,
print(type(a),a)

<class 'int'> 4

In [80]:
for a in range(1,11):
    print("*"*a)

*
**
***
****
*****
******
*******
********
*********
**********

In [82]:
a = [1,2,3,4,5]
b = a[:]
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [91]:
a = [1,2,3,4]
b = a[:2]
print(a)
print(b)

[1, 2, 3, 4]
[1, 2]

In [93]:
a = [1,2,3,4,5]
b = a[4:]
print(a)
print(b)

[1, 2, 3, 4, 5]
[5]

In [95]:
a = [1,2,3,4,5]
b = a[2:4]
print(a)
print(b)

[1, 2, 3, 4, 5]
[3, 4]

In [98]:
a = [1,2,3,4,5,6,7,8,9]
b = a[::3]
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7]

In [100]:
a =[v for v in range(5)]

In [114]:
a

[1, 3, 5, 2, 6, 10, 4, 12, 20]

In [113]:
a = [a*b for a in [1,2,4] for b in [1,3,5]]

In [106]:
a

[1, 3, 5, 2, 6, 10, 4, 12, 20]

In [111]:
a = [a for a in range(1,101)if a %13 == 0]

In [115]:
a

[1, 3, 5, 2, 6, 10, 4, 12, 20]

In [121]:
a = (a for a in range(5))
print(tuple(a))

(0, 1, 2, 3, 4)

In [120]:
a

In [127]:
a = {"aa":3, "bb":8, 9:"cc"}
print(a["aa"])

3

In [129]:
a = [1,3,5,7,]
b = [2,4,6,8,]

c = dict(zip(a,b))

print(c)

{1: 2, 3: 4, 5: 6, 7: 8}

In [137]:
a = [1,3,5,7,]
b = [2,4,6,8,]

c = dict(zip(a,b))

print(2 not in c)

True

In [159]:
a = [1,3,5,7,]
b = [2,4,6,8,]

c = dict(zip(a,b))
d = c.items()
for k ,v in d:   
#print(c)
    print((k,v))

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [161]:
a = set()
b = a.add(4)

In [163]:
dd